apiVersion: v1
kind: Namespace
metadata:
  name: harvester-system

---

apiVersion: v1
kind: ConfigMap
metadata:
  name: harvester-config
  namespace: harvester-system
data:
  HARVESTER_DB_HOST: "postgres.harvester-system.svc.cluster.local"
  HARVESTER_DB_USER: "postgres"
  HARVESTER_DB_PASSWORD: "postgres"
  HARVESTER_DB_NAME: "postgres"
  HARVESTER_DB_DISABLE_TLS: "true"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: harvester
  namespace: harvester-system

spec:
  selector:
    matchLabels:
      app: harvester

  template:
    metadata:
      labels:
        app: harvester

    spec:
      terminationGracePeriodSeconds: 60

      initContainers:
        - name: init-migrate-seed
          image: admin-image
          command: ['./admin']
          envFrom:
            - configMapRef:
                name: harvester-config

      containers:
        - name: harvester
          image: harvester-image

          ports:
            - name: harvester
              containerPort: 3000
            - name: harvester-debug
              containerPort: 3010

          envFrom:
            - configMapRef:
                name: harvester-config

          env:
            - name: GOMAXPROCS
              valueFrom:
                resourceFieldRef:
                  resource: limits.cpu

          readinessProbe:
            httpGet:
              path: /v1/readiness
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /v1/liveness
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 30

---

apiVersion: v1
kind: Service
metadata:
  name: harvester-service
  namespace: harvester-system

spec:
  selector:
    app: harvester