apiVersion: apps/v1
kind: Deployment
metadata:
  name: harvester
  namespace: harvester-system

spec:
  replicas: 1

  strategy:
    type: Recreate

  template:
    spec:
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true

      initContainers:
        - name: init-migrate-seed
          envFrom:
            - configMapRef:
                name: harvester-config
          env:
            - name: HARVESTER_DB_HOST
              value: "localhost"

      containers:
        - name: harvester
          resources:
            requests:
              cpu: "250m"
            limits:
              cpu: "250m"
          envFrom:
            - configMapRef:
                name: harvester-config
          env:
            - name: HARVESTER_DB_HOST
              value: "localhost"