apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base/harvester/
patches:
  - path: ./dev-harvester-patch-configmap.yaml
  - path: ./dev-harvester-patch-deploy.yaml
  - path: ./dev-harvester-patch-service.yaml
images:
  - name: harvester-image
    newName: localhost/harvester/harvester
    newTag: 0.0.1
  - name: admin-image
    newName: localhost/harvester/admin
    newTag: 0.0.1
secretGenerator:
  - name: harvester-db-secret
    literals:
      - HARVESTER_DB_USER=postgres
      - HARVESTER_DB_PASSWORD=postgres