services:
  postgres:
    image: postgres:15.5
    ports:
      - "127.0.0.1:5432:5432"
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  admin:
    depends_on:
      postgres:
        condition: service_healthy
    build:
      context: ../..
      dockerfile: ./infrastructure/docker/Dockerfile.admin
    env_file:
      - .env
    restart: "no"

  harvester:
    depends_on:
      admin:
        condition: service_completed_successfully
    build:
      context: ../..
      dockerfile: ./infrastructure/docker/Dockerfile.harvester
    ports:
      - "127.0.0.1:3000:3000"
      - "127.0.0.1:3010:3010"
    env_file:
      - .env
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    develop:
      watch:
        - action: rebuild
          path: ../..
          ignore:
            - infrastructure/**
            - terraform/**
            - docs/**
            - .git/**
            - .github/**
            - ui/**

  ui:
    depends_on:
      - harvester
    build:
      context: ../..
      dockerfile: ./infrastructure/docker/Dockerfile.ui
    ports:
      - "127.0.0.1:8080:80"
    deploy:
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 3
    develop:
      watch:
        - action: rebuild
          path: ../../ui
          ignore:
            - node_modules/**
            - dist/**
